Repository HUSTAI/HUSTAI.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: llm, prompt, finetune, eval, dataset, token

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Update CNAME
  CNAME
Labels: none

Update CNAME
  CNAME
Labels: none

update: unify tags
  src/zh/posts/llm/ByteTransformer.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

update: unify tags (#122)
  src/zh/posts/llm/ByteTransformer.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

fix: deploy gitee
  .github/workflows/deploy.yml
Labels: none

remove extra lines
  .github/workflows/deploy.yml
Labels: none

Lx dev (#123)
  .github/workflows/deploy.yml
Labels: none

Revert "Lx dev (#123)"
  .github/workflows/deploy.yml
Labels: none

Revert "Lx dev (#123)" (#124)
  .github/workflows/deploy.yml
Labels: none

update: sync and deploy (#125)
  .github/workflows/deploy.yml
Labels: none

Update CNAME
  CNAME
Labels: none

Delete ntp_image 2.png
  src/.vuepress/public/assets/images/llm/ntp_image 2.png
Labels: llm

Delete ntp_image 3.png
  src/.vuepress/public/assets/images/llm/ntp_image 3.png
Labels: llm

Delete ntp_image 4.png
  src/.vuepress/public/assets/images/llm/ntp_image 4.png
Labels: llm

feat: add cot
  src/.vuepress/public/assets/images/prompt/.gitkeep
  src/.vuepress/public/assets/images/prompt/cot1.png
  src/.vuepress/public/assets/images/prompt/cot2.png
  src/.vuepress/public/assets/images/prompt/cot3.png
  src/.vuepress/public/assets/images/prompt/cot4.png
  src/.vuepress/public/assets/images/prompt/cot5.png
  src/.vuepress/public/assets/images/prompt/cot6.png
  src/.vuepress/public/assets/images/prompt/cot7.png
  src/zh/posts/prompt/Cot.md
Labels: prompt

feat: add cot (#126)
  src/.vuepress/public/assets/images/prompt/.gitkeep
  src/.vuepress/public/assets/images/prompt/cot1.png
  src/.vuepress/public/assets/images/prompt/cot2.png
  src/.vuepress/public/assets/images/prompt/cot3.png
  src/.vuepress/public/assets/images/prompt/cot4.png
  src/.vuepress/public/assets/images/prompt/cot5.png
  src/.vuepress/public/assets/images/prompt/cot6.png
  src/.vuepress/public/assets/images/prompt/cot7.png
  src/zh/posts/prompt/Cot.md
Labels: prompt

Update Quantize.md
  src/zh/posts/finetune/Quantize.md
Labels: finetune

Update Quantize.md (#127)
  src/zh/posts/finetune/Quantize.md
Labels: finetune

add bpe.md
  src/.vuepress/public/assets/images/token/bpe_1.png
  src/zh/posts/token/bpe.md
Labels: token

add bpe.md (#128)
  src/.vuepress/public/assets/images/token/bpe_1.png
  src/zh/posts/token/bpe.md
Labels: token

update gpt2
  src/.vuepress/public/assets/images/llm/gpt2_1.png
  src/.vuepress/public/assets/images/llm/gpt2_2.png
  src/.vuepress/public/assets/images/llm/gpt2_3.png
  src/zh/posts/llm/gpt2.md
Labels: llm

add chatglm.md
  src/.vuepress/public/assets/images/llm/chatglm2_1.jpg
  src/.vuepress/public/assets/images/llm/chatglm2_2.png
  src/zh/posts/llm/chatglm2.md
Labels: llm

update chatglm2
  src/zh/posts/llm/chatglm2.md
Labels: llm

Add files via upload
  src/zh/posts/llm/decoder_encoder.md
Labels: llm

Add files via upload
  src/.vuepress/public/assets/images/llm/coder_1.png
  src/.vuepress/public/assets/images/llm/coder_2.png
  src/.vuepress/public/assets/images/llm/coder_3.png
Labels: llm

Add files via upload (#129)
  src/zh/posts/llm/decoder_encoder.md
Labels: llm

Add files via upload
  src/.vuepress/public/assets/images/eval/ceval_1.png
  src/.vuepress/public/assets/images/eval/ceval_2.png
  src/.vuepress/public/assets/images/eval/ceval_3.png
  src/.vuepress/public/assets/images/eval/ceval_4.png
  src/.vuepress/public/assets/images/eval/ceval_5.png
  src/.vuepress/public/assets/images/eval/ceval_6.png
Labels: eval

Add files via upload
  src/zh/posts/eval/ceval.md
Labels: eval

Add files via upload
  src/zh/posts/llm/chatglm2.md
  src/zh/posts/llm/decoder_encoder.md
  src/zh/posts/llm/gpt2.md
Labels: llm

add ceval (#130)
  src/.vuepress/public/assets/images/eval/ceval_1.png
  src/.vuepress/public/assets/images/eval/ceval_2.png
  src/.vuepress/public/assets/images/eval/ceval_3.png
  src/.vuepress/public/assets/images/eval/ceval_4.png
  src/.vuepress/public/assets/images/eval/ceval_5.png
  src/.vuepress/public/assets/images/eval/ceval_6.png
  src/zh/posts/eval/ceval.md
  src/zh/posts/llm/chatglm2.md
  src/zh/posts/llm/decoder_encoder.md
  src/zh/posts/llm/gpt2.md
Labels: llm, eval

Update ceval.md
  src/zh/posts/eval/ceval.md
Labels: eval

Update bpe.md
  src/zh/posts/token/bpe.md
Labels: token

Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
llm:
  - src/zh/posts/llm/**
  - src/.vuepress/public/assets/images/llm/**
prompt:
  - src/zh/posts/prompt/**
  - src/.vuepress/public/assets/images/prompt/**
finetune:
  - src/zh/posts/finetune/**
  - src/.vuepress/public/assets/images/finetune/**
eval:
  - src/zh/posts/eval/**
  - src/.vuepress/public/assets/images/eval/**
dataset:
  - src/zh/posts/dataset/**
  - src/.vuepress/public/assets/images/dataset/**
token:
  - src/zh/posts/token/**
  - src/.vuepress/public/assets/images/token/**
