Repository HUSTAI/HUSTAI.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: llm, prompt, finetune, eval, dataset, token

Update PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Update PromptEngineeringGuide.md (#156)
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Add files via upload
  src/.vuepress/public/assets/images/finetune/PEFT_02.png
  src/.vuepress/public/assets/images/finetune/PEFT_03.png
  src/.vuepress/public/assets/images/finetune/PEFT_04.png
  src/.vuepress/public/assets/images/finetune/PEFT_05.png
  src/.vuepress/public/assets/images/finetune/PEFT_06.png
  src/.vuepress/public/assets/images/finetune/PEFT_07.webp
  src/.vuepress/public/assets/images/finetune/PEFT_08.png
  src/.vuepress/public/assets/images/finetune/PEFT_09.webp
Labels: finetune

Update pictures for PEFT.md(#157)
  src/.vuepress/public/assets/images/finetune/PEFT_02.png
  src/.vuepress/public/assets/images/finetune/PEFT_03.png
  src/.vuepress/public/assets/images/finetune/PEFT_04.png
  src/.vuepress/public/assets/images/finetune/PEFT_05.png
  src/.vuepress/public/assets/images/finetune/PEFT_06.png
  src/.vuepress/public/assets/images/finetune/PEFT_07.webp
  src/.vuepress/public/assets/images/finetune/PEFT_08.png
  src/.vuepress/public/assets/images/finetune/PEFT_09.webp
Labels: finetune

Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update PEFT.md (#158)
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update PEFT.md (#159)
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update PEFT.md (#160)
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update PEFT.md (#161)
  src/zh/posts/finetune/PEFT.md
Labels: finetune

add qlora
  src/zh/posts/finetune/QLORA.md
Labels: finetune

add knowledgeedit
  src/zh/posts/llm/KnowledgeEditor.md
Labels: llm

add kedit pics
  src/.vuepress/public/assets/images/llm/kedit_1.png
  src/.vuepress/public/assets/images/llm/kedit_2.png
  src/.vuepress/public/assets/images/llm/kedit_3.png
  src/.vuepress/public/assets/images/llm/kedit_4.png
  src/.vuepress/public/assets/images/llm/kedit_5.png
  src/.vuepress/public/assets/images/llm/kedit_6.png
Labels: llm

Add files via upload
  src/zh/posts/llm/LSR.md
Labels: llm

Add files via upload
  src/.vuepress/public/assets/images/llm/lsr_1.png
  src/.vuepress/public/assets/images/llm/lsr_2.png
Labels: llm

Update LSR.md
  src/zh/posts/llm/LSR.md
Labels: llm

Update LSR.md
  src/zh/posts/llm/LSR.md
Labels: llm

Update LSR.md
  src/zh/posts/llm/LSR.md
Labels: llm

update got
  src/.vuepress/public/assets/images/prompt/GoT1.png
  src/.vuepress/public/assets/images/prompt/GoT2.png
  src/.vuepress/public/assets/images/prompt/GoT3.png
  src/.vuepress/public/assets/images/prompt/GoT4.png
  src/.vuepress/public/assets/images/prompt/GoT5.png
  src/.vuepress/public/assets/images/prompt/GoT6.png
  src/.vuepress/public/assets/images/prompt/GoT7.png
  src/zh/posts/prompt/GoT.md
Labels: prompt

update got (#162)
  src/.vuepress/public/assets/images/prompt/GoT1.png
  src/.vuepress/public/assets/images/prompt/GoT2.png
  src/.vuepress/public/assets/images/prompt/GoT3.png
  src/.vuepress/public/assets/images/prompt/GoT4.png
  src/.vuepress/public/assets/images/prompt/GoT5.png
  src/.vuepress/public/assets/images/prompt/GoT6.png
  src/.vuepress/public/assets/images/prompt/GoT7.png
  src/zh/posts/prompt/GoT.md
Labels: prompt

add blog thor
  src/.vuepress/public/assets/images/prompt/thor1.png
  src/.vuepress/public/assets/images/prompt/thor10.png
  src/.vuepress/public/assets/images/prompt/thor2.png
  src/.vuepress/public/assets/images/prompt/thor3.png
  src/.vuepress/public/assets/images/prompt/thor4.png
  src/.vuepress/public/assets/images/prompt/thor5.png
  src/.vuepress/public/assets/images/prompt/thor6.png
  src/.vuepress/public/assets/images/prompt/thor7.png
  src/.vuepress/public/assets/images/prompt/thor8.png
  src/.vuepress/public/assets/images/prompt/thor9.png
  src/zh/posts/prompt/thor.md
Labels: prompt

add blog thor (#163)
  src/.vuepress/public/assets/images/prompt/thor1.png
  src/.vuepress/public/assets/images/prompt/thor10.png
  src/.vuepress/public/assets/images/prompt/thor2.png
  src/.vuepress/public/assets/images/prompt/thor3.png
  src/.vuepress/public/assets/images/prompt/thor4.png
  src/.vuepress/public/assets/images/prompt/thor5.png
  src/.vuepress/public/assets/images/prompt/thor6.png
  src/.vuepress/public/assets/images/prompt/thor7.png
  src/.vuepress/public/assets/images/prompt/thor8.png
  src/.vuepress/public/assets/images/prompt/thor9.png
  src/zh/posts/prompt/thor.md
Labels: prompt

Add files via upload
  src/zh/posts/llm/Chunking-Strategies.md
Labels: llm

feat: add SoT
  src/zh/posts/prompt/SoT.md
Labels: prompt

remove comment
  src/zh/posts/prompt/SoT.md
Labels: prompt

feat: add cimi
  src/zh/posts/prompt/CIMI.md
Labels: prompt

feat: add generate ai
  src/zh/posts/prompt/MeetingGenerationAI.md
Labels: prompt

feat: add cimi (#153)
  src/zh/posts/prompt/CIMI.md
  src/zh/posts/prompt/MeetingGenerationAI.md
Labels: prompt

update blog llmretrieval
  src/.vuepress/public/assets/images/token/LLMretrieval1.png
  src/.vuepress/public/assets/images/token/LLMretrieval2.png
  src/.vuepress/public/assets/images/token/LLMretrieval3.png
  src/.vuepress/public/assets/images/token/LLMretrieval4.png
  src/.vuepress/public/assets/images/token/LLMretrieval5.png
  src/zh/posts/token/LLMretrieval.md
Labels: token

update blog llmretrieval (#164)
  src/.vuepress/public/assets/images/token/LLMretrieval1.png
  src/.vuepress/public/assets/images/token/LLMretrieval2.png
  src/.vuepress/public/assets/images/token/LLMretrieval3.png
  src/.vuepress/public/assets/images/token/LLMretrieval4.png
  src/.vuepress/public/assets/images/token/LLMretrieval5.png
  src/zh/posts/token/LLMretrieval.md
Labels: token

Update GoT.md
  src/zh/posts/prompt/GoT.md
Labels: prompt

Update GoT.md (#165)
  src/zh/posts/prompt/GoT.md
Labels: prompt

update retrieve
  src/.vuepress/public/assets/images/llm/RetrieveTextGeneration1.png
  src/zh/posts/llm/RetrieveTextGeneration.md
Labels: llm

update retrivetg
  src/zh/posts/llm/RetrieveTextGeneration.md
Labels: llm

add category
  README.md
  src/.vuepress/sidebar/zh.ts
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/dataset/README.md
  src/zh/posts/eval/README.md
  src/zh/posts/finetune/README.md
  src/zh/posts/llm/Chunking-Strategies.md
  src/zh/posts/llm/LSR.md
  src/zh/posts/llm/README.md
  src/zh/posts/prompt/README.md
  src/zh/posts/rag/Chunking-Strategies.md
  src/zh/posts/rag/LLMretrieval.md
  src/zh/posts/rag/LSR.md
  src/zh/posts/rag/README.md
  src/zh/posts/rag/RetrieveTextGeneration.md
  src/zh/posts/reasoning/GPT4Reason.md
  src/zh/posts/reasoning/README.md
  src/zh/posts/reasoning/llmReasonSurvey.md
  src/zh/posts/token/README.md
  src/zh/posts/token/Token-Crisis.md
Labels: llm, prompt, finetune, eval, dataset, token

add category (#166)
  README.md
  src/.vuepress/sidebar/zh.ts
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/dataset/README.md
  src/zh/posts/eval/README.md
  src/zh/posts/finetune/README.md
  src/zh/posts/llm/Chunking-Strategies.md
  src/zh/posts/llm/LSR.md
  src/zh/posts/llm/README.md
  src/zh/posts/prompt/README.md
  src/zh/posts/rag/Chunking-Strategies.md
  src/zh/posts/rag/LLMretrieval.md
  src/zh/posts/rag/LSR.md
  src/zh/posts/rag/README.md
  src/zh/posts/rag/RetrieveTextGeneration.md
  src/zh/posts/reasoning/GPT4Reason.md
  src/zh/posts/reasoning/README.md
  src/zh/posts/reasoning/llmReasonSurvey.md
  src/zh/posts/token/README.md
  src/zh/posts/token/Token-Crisis.md
Labels: llm, prompt, finetune, eval, dataset, token

change category
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/reasoning/GPT4Reason.md
  src/zh/posts/reasoning/README.md
  src/zh/posts/reasoning/llmReasonSurvey.md
Labels: none

add category (#167)
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/reasoning/GPT4Reason.md
  src/zh/posts/reasoning/README.md
  src/zh/posts/reasoning/llmReasonSurvey.md
Labels: none

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
llm:
  - src/zh/posts/llm/**
  - src/.vuepress/public/assets/images/llm/**
prompt:
  - src/zh/posts/prompt/**
  - src/.vuepress/public/assets/images/prompt/**
finetune:
  - src/zh/posts/finetune/**
  - src/.vuepress/public/assets/images/finetune/**
eval:
  - src/zh/posts/eval/**
  - src/.vuepress/public/assets/images/eval/**
dataset:
  - src/zh/posts/dataset/**
  - src/.vuepress/public/assets/images/dataset/**
token:
  - src/zh/posts/token/**
  - src/.vuepress/public/assets/images/token/**
