Repository HUSTAI/HUSTAI.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: llm, prompt, finetune, eval, dataset, token

Update PEARL.md (#140)
  src/zh/posts/prompt/PEARL.md
Labels: prompt

feat: add tot
  src/.vuepress/public/assets/images/prompt/ToT1.png
  src/.vuepress/public/assets/images/prompt/ToT2.png
  src/.vuepress/public/assets/images/prompt/ToT3.png
  src/.vuepress/public/assets/images/prompt/ToT4.png
  src/zh/posts/prompt/MathPrompter.md
  src/zh/posts/prompt/ToT.md
Labels: prompt

feat: add tot (#141)
  src/.vuepress/public/assets/images/prompt/ToT1.png
  src/.vuepress/public/assets/images/prompt/ToT2.png
  src/.vuepress/public/assets/images/prompt/ToT3.png
  src/.vuepress/public/assets/images/prompt/ToT4.png
  src/zh/posts/prompt/MathPrompter.md
  src/zh/posts/prompt/ToT.md
Labels: prompt

feat: add prompt ps
  src/.vuepress/public/assets/images/prompt/PS1.png
  src/.vuepress/public/assets/images/prompt/PS2.png
  src/.vuepress/public/assets/images/prompt/PS3.png
  src/.vuepress/public/assets/images/prompt/PS4.png
  src/.vuepress/public/assets/images/prompt/PS5.png
  src/zh/posts/prompt/MathPrompter.md
  src/zh/posts/prompt/PEARL.md
  src/zh/posts/prompt/PS.md
  src/zh/posts/prompt/ToT.md
Labels: prompt

fix path
  src/zh/posts/llm/RLpolicy.md
Labels: llm

fix ignorecase
  src/zh/posts/eval/CEval.md
  src/zh/posts/llm/ChatGLM2.md
  src/zh/posts/llm/ChatGPT.md
  src/zh/posts/llm/Decoder_Encoder.md
  src/zh/posts/llm/GPT2.md
  src/zh/posts/llm/PPO.md
  src/zh/posts/prompt/CoT.md
  src/zh/posts/token/BPE.md
Labels: llm, prompt, eval, token

feat: add prompt ps (#142)
  src/.vuepress/public/assets/images/prompt/PS1.png
  src/.vuepress/public/assets/images/prompt/PS2.png
  src/.vuepress/public/assets/images/prompt/PS3.png
  src/.vuepress/public/assets/images/prompt/PS4.png
  src/.vuepress/public/assets/images/prompt/PS5.png
  src/zh/posts/eval/CEval.md
  src/zh/posts/llm/ChatGLM2.md
  src/zh/posts/llm/ChatGPT.md
  src/zh/posts/llm/Decoder_Encoder.md
  src/zh/posts/llm/GPT2.md
  src/zh/posts/llm/PPO.md
  src/zh/posts/llm/RLpolicy.md
  src/zh/posts/prompt/CoT.md
  src/zh/posts/prompt/MathPrompter.md
  src/zh/posts/prompt/PEARL.md
  src/zh/posts/prompt/PS.md
  src/zh/posts/prompt/ToT.md
  src/zh/posts/token/BPE.md
Labels: llm, prompt, eval, token

Add files via upload
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Add: PromptEngineeringGuide.md (#143)
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Update PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Update PromptEngineeringGuide.md (#144)
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Add files via upload
  src/.vuepress/public/assets/images/prompt/PromptEngineeringGuide_01.png
Labels: prompt

Add files via upload (#145)
  src/.vuepress/public/assets/images/prompt/PromptEngineeringGuide_01.png
Labels: prompt

Update PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Update PromptEngineeringGuide.md (#146)
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Update PEARL.md
  src/zh/posts/prompt/PEARL.md
Labels: prompt

Update PEARL.md (#147)
  src/zh/posts/prompt/PEARL.md
Labels: prompt

add openai.md
  src/zh/posts/llm/openai.md
Labels: llm

add moe
  src/.vuepress/public/assets/images/llm/moe_1.jpg
  src/.vuepress/public/assets/images/llm/moe_2.png
  src/.vuepress/public/assets/images/llm/moe_3.png
  src/zh/posts/llm/MOE.md
Labels: llm

update moe.md
  src/zh/posts/llm/MOE.md
Labels: llm

add article
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey1.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey2.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey3.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey4.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey5.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey6.png
  src/zh/posts/prompt/llmReasonSurvey.md
Labels: prompt

add article (#148)
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey1.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey2.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey3.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey4.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey5.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey6.png
  src/zh/posts/prompt/llmReasonSurvey.md
Labels: prompt

Update Token-Crisis.md
  src/zh/posts/llm/Token-Crisis.md
Labels: llm

Update ByteTransformer.md
  src/zh/posts/llm/ByteTransformer.md
Labels: llm

Update ByteTransformer.md (#149)
  src/zh/posts/llm/ByteTransformer.md
Labels: llm

update gpt.md
  src/.vuepress/public/assets/images/llm/gpt_2.png
  src/.vuepress/public/assets/images/llm/gpt_3.png
  src/.vuepress/public/assets/images/llm/gpt_4.png
  src/.vuepress/public/assets/images/llm/gpt_5.png
  src/.vuepress/public/assets/images/llm/gpt_6.png
  src/zh/posts/llm/GPT.md
Labels: llm

Update CoT.md
  src/zh/posts/prompt/CoT.md
Labels: prompt

Update CoT.md (#150)
  src/zh/posts/prompt/CoT.md
Labels: prompt

修改LLM1和LLM2格式
  src/zh/posts/llm/LLMReviveWord1.md
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm

Update BPE.md
  src/zh/posts/token/BPE.md
Labels: token

update gpt2.md
  src/zh/posts/llm/GPT2.md
Labels: llm

Update llmReasonSurvey.md
  src/zh/posts/prompt/llmReasonSurvey.md
Labels: prompt

Update llmReasonSurvey.md (#151)
  src/zh/posts/prompt/llmReasonSurvey.md
Labels: prompt

feat: add SoT
  src/.vuepress/public/assets/images/prompt/SoT1.png
  src/.vuepress/public/assets/images/prompt/SoT10.png
  src/.vuepress/public/assets/images/prompt/SoT2.png
  src/.vuepress/public/assets/images/prompt/SoT3.png
  src/.vuepress/public/assets/images/prompt/SoT4.png
  src/.vuepress/public/assets/images/prompt/SoT5.png
  src/.vuepress/public/assets/images/prompt/SoT6.png
  src/.vuepress/public/assets/images/prompt/SoT7.png
  src/.vuepress/public/assets/images/prompt/SoT8.png
  src/.vuepress/public/assets/images/prompt/SoT9.png
  src/zh/posts/prompt/SoT.md
Labels: prompt

remove comment
  src/zh/posts/prompt/SoT.md
Labels: prompt

feat: add SoT (#152)
  src/.vuepress/public/assets/images/prompt/SoT1.png
  src/.vuepress/public/assets/images/prompt/SoT10.png
  src/.vuepress/public/assets/images/prompt/SoT2.png
  src/.vuepress/public/assets/images/prompt/SoT3.png
  src/.vuepress/public/assets/images/prompt/SoT4.png
  src/.vuepress/public/assets/images/prompt/SoT5.png
  src/.vuepress/public/assets/images/prompt/SoT6.png
  src/.vuepress/public/assets/images/prompt/SoT7.png
  src/.vuepress/public/assets/images/prompt/SoT8.png
  src/.vuepress/public/assets/images/prompt/SoT9.png
  src/zh/posts/prompt/SoT.md
Labels: prompt

add gpt4reason.md
  src/.vuepress/public/assets/images/llm/gpt4reason1.png
  src/.vuepress/public/assets/images/llm/gpt4reason10.png
  src/.vuepress/public/assets/images/llm/gpt4reason11.png
  src/.vuepress/public/assets/images/llm/gpt4reason12.png
  src/.vuepress/public/assets/images/llm/gpt4reason13.png
  src/.vuepress/public/assets/images/llm/gpt4reason14.png
  src/.vuepress/public/assets/images/llm/gpt4reason2.png
  src/.vuepress/public/assets/images/llm/gpt4reason3.png
  src/.vuepress/public/assets/images/llm/gpt4reason4.png
  src/.vuepress/public/assets/images/llm/gpt4reason5.png
  src/.vuepress/public/assets/images/llm/gpt4reason6.png
  src/.vuepress/public/assets/images/llm/gpt4reason7.png
  src/.vuepress/public/assets/images/llm/gpt4reason8.png
  src/.vuepress/public/assets/images/llm/gpt4reason9.png
  src/zh/posts/llm/GPT4Reason.md
Labels: llm

add gpt4reason.md (#154)
  src/.vuepress/public/assets/images/llm/gpt4reason1.png
  src/.vuepress/public/assets/images/llm/gpt4reason10.png
  src/.vuepress/public/assets/images/llm/gpt4reason11.png
  src/.vuepress/public/assets/images/llm/gpt4reason12.png
  src/.vuepress/public/assets/images/llm/gpt4reason13.png
  src/.vuepress/public/assets/images/llm/gpt4reason14.png
  src/.vuepress/public/assets/images/llm/gpt4reason2.png
  src/.vuepress/public/assets/images/llm/gpt4reason3.png
  src/.vuepress/public/assets/images/llm/gpt4reason4.png
  src/.vuepress/public/assets/images/llm/gpt4reason5.png
  src/.vuepress/public/assets/images/llm/gpt4reason6.png
  src/.vuepress/public/assets/images/llm/gpt4reason7.png
  src/.vuepress/public/assets/images/llm/gpt4reason8.png
  src/.vuepress/public/assets/images/llm/gpt4reason9.png
  src/zh/posts/llm/GPT4Reason.md
Labels: llm

Update PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

Update PromptEngineeringGuide.md (#155)
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
llm:
  - src/zh/posts/llm/**
  - src/.vuepress/public/assets/images/llm/**
prompt:
  - src/zh/posts/prompt/**
  - src/.vuepress/public/assets/images/prompt/**
finetune:
  - src/zh/posts/finetune/**
  - src/.vuepress/public/assets/images/finetune/**
eval:
  - src/zh/posts/eval/**
  - src/.vuepress/public/assets/images/eval/**
dataset:
  - src/zh/posts/dataset/**
  - src/.vuepress/public/assets/images/dataset/**
token:
  - src/zh/posts/token/**
  - src/.vuepress/public/assets/images/token/**
