Repository HUSTAI/HUSTAI.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: llm, prompt, finetune, eval, dataset, token

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
llm:
  - src/zh/posts/llm/**
  - src/.vuepress/public/assets/images/llm/**
prompt:
  - src/zh/posts/prompt/**
  - src/.vuepress/public/assets/images/prompt/**
finetune:
  - src/zh/posts/finetune/**
  - src/.vuepress/public/assets/images/finetune/**
eval:
  - src/zh/posts/eval/**
  - src/.vuepress/public/assets/images/eval/**
dataset:
  - src/zh/posts/dataset/**
  - src/.vuepress/public/assets/images/dataset/**
token:
  - src/zh/posts/token/**
  - src/.vuepress/public/assets/images/token/**

add chatgpt.md
  src/.vuepress/public/assets/images/llm/chatgpt1.png
  src/.vuepress/public/assets/images/llm/chatgpt2.png
  src/.vuepress/public/assets/images/llm/chatgpt3.png
  src/.vuepress/public/assets/images/llm/chatgpt4.png
  src/zh/posts/llm/chatgpt.md
Labels: llm

add chatgpt.md (#84)
  src/.vuepress/public/assets/images/llm/chatgpt1.png
  src/.vuepress/public/assets/images/llm/chatgpt2.png
  src/.vuepress/public/assets/images/llm/chatgpt3.png
  src/.vuepress/public/assets/images/llm/chatgpt4.png
  src/zh/posts/llm/chatgpt.md
Labels: llm

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md (#85)
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md (#86)
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Add files via upload
  src/.vuepress/public/assets/images/llm/ntp_image2.png
Labels: llm

Delete ntp_image2.png
  src/.vuepress/public/assets/images/llm/ntp_image2.png
Labels: llm

Add files via upload
  src/.vuepress/public/assets/images/llm/ntp_image2.png
Labels: llm

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md (#88)
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Add files via upload (#87)
  src/.vuepress/public/assets/images/llm/ntp_image2.png
Labels: llm

modify: picture names of PEFT.md
  src/.vuepress/public/assets/images/finetune/PEFT_01.png
  src/.vuepress/public/assets/images/finetune/PEFT_02.png
  src/.vuepress/public/assets/images/finetune/PEFT_03.png
  src/.vuepress/public/assets/images/finetune/PEFT_04.png
  src/.vuepress/public/assets/images/finetune/PEFT_05.png
  src/.vuepress/public/assets/images/finetune/PEFT_06.png
  src/.vuepress/public/assets/images/finetune/PEFT_07.png
  src/.vuepress/public/assets/images/finetune/PEFT_08.png
  src/.vuepress/public/assets/images/finetune/PEFT_09.png
  src/.vuepress/public/assets/images/finetune/PEFT_10.png
  src/.vuepress/public/assets/images/finetune/PEFT_11.png
  src/.vuepress/public/assets/images/finetune/PEFT_12.png
Labels: finetune

modify: picture names of PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

modify: picture names of PEFT.md
  src/zh/posts/finetune/Peft.md
Labels: finetune

update: PEFT.md
  src/.vuepress/public/assets/images/finetune/PEFT_01.png
  src/.vuepress/public/assets/images/finetune/PEFT_02.png
  src/.vuepress/public/assets/images/finetune/PEFT_03.png
  src/.vuepress/public/assets/images/finetune/PEFT_04.png
  src/.vuepress/public/assets/images/finetune/PEFT_06.png
  src/.vuepress/public/assets/images/finetune/PEFT_08.png
  src/.vuepress/public/assets/images/finetune/PEFT_12.png
  src/zh/posts/finetune/PEFT.md
Labels: finetune

update: PEFT.md (#89)
  src/.vuepress/public/assets/images/finetune/PEFT_01.png
  src/.vuepress/public/assets/images/finetune/PEFT_02.png
  src/.vuepress/public/assets/images/finetune/PEFT_03.png
  src/.vuepress/public/assets/images/finetune/PEFT_04.png
  src/.vuepress/public/assets/images/finetune/PEFT_06.png
  src/.vuepress/public/assets/images/finetune/PEFT_08.png
  src/.vuepress/public/assets/images/finetune/PEFT_12.png
  src/zh/posts/finetune/PEFT.md
Labels: finetune

update: PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

update: PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

add article footer
  src/.vuepress/theme.ts
Labels: none

Update PEARL.md
  src/zh/posts/llm/PEARL.md
Labels: llm

Update PEARL.md (#91)
  src/zh/posts/llm/PEARL.md
Labels: llm

add article footer (#90)
  src/.vuepress/theme.ts
Labels: none

update: PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Update chatgpt.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

Update chatgpt.md (#92)
  src/zh/posts/llm/chatgpt.md
Labels: llm

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

Update Instruct和Prompt Tuning数据汇总分享.md (#93)
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update LLM重映世界(一).md (#94)
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md (#95)
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md (#96)
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Quantize.md
  src/zh/posts/finetune/Quantize.md
Labels: finetune

refactor short title
  src/zh/posts/finetune/PEFT.md
  src/zh/posts/llm/GPT.md
  src/zh/posts/llm/PEARL.md
  src/zh/posts/llm/Unlimiformer.md
Labels: llm, finetune

refactor short title (#97)
  src/zh/posts/finetune/PEFT.md
  src/zh/posts/llm/GPT.md
  src/zh/posts/llm/PEARL.md
  src/zh/posts/llm/Unlimiformer.md
Labels: llm, finetune

Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

Update LLM重映世界(一).md (#98)
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm
