Repository HUSTAI/HUSTAI.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: llm, prompt, finetune, eval, dataset, token

Update LLM重映世界(一).md (#99)
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

Update LLM重映世界(一).md (#100)
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

change ref
  src/zh/posts/llm/chatgpt.md
Labels: llm

Update LLM重映世界(一).md (#101)
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

change tag (#102)
  src/zh/posts/llm/ByteTransformer.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

change ref Token
  README.md
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/token/README.md
Labels: token

Update PEARL.md
  src/zh/posts/llm/PEARL.md
Labels: llm

Update PEARL.md (#103)
  src/zh/posts/llm/PEARL.md
Labels: llm

update chatgpt.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

update chatgpt.md (#104)
  README.md
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/llm/chatgpt.md
  src/zh/posts/token/README.md
Labels: llm, token

update ref
  src/zh/posts/llm/chatgpt.md
Labels: llm

update ref (#105)
  src/zh/posts/llm/chatgpt.md
Labels: llm

Update chatgpt.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

Update chatgpt.md (#106)
  src/zh/posts/llm/chatgpt.md
Labels: llm

update: ref
  src/zh/posts/llm/PEARL.md
Labels: llm

update: ref (#107)
  src/zh/posts/llm/PEARL.md
Labels: llm

update ref
  src/zh/posts/llm/chatgpt.md
Labels: llm

update ref (#108)
  src/zh/posts/llm/chatgpt.md
Labels: llm

update ref
  src/zh/posts/llm/chatgpt.md
Labels: llm

update ref (#109)
  src/zh/posts/llm/chatgpt.md
Labels: llm

add ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update README.md
  README.md
Labels: none

Update ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update ppo.md
  src/zh/posts/llm/ppo.md
Labels: llm

Update Unlimiformer.md
  src/zh/posts/llm/Unlimiformer.md
Labels: llm

Update Unlimiformer.md
  src/zh/posts/llm/Unlimiformer.md
Labels: llm

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Create syncToGitee.yml
  .github/workflows/syncToGitee.yml
Labels: none

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
llm:
  - src/zh/posts/llm/**
  - src/.vuepress/public/assets/images/llm/**
prompt:
  - src/zh/posts/prompt/**
  - src/.vuepress/public/assets/images/prompt/**
finetune:
  - src/zh/posts/finetune/**
  - src/.vuepress/public/assets/images/finetune/**
eval:
  - src/zh/posts/eval/**
  - src/.vuepress/public/assets/images/eval/**
dataset:
  - src/zh/posts/dataset/**
  - src/.vuepress/public/assets/images/dataset/**
token:
  - src/zh/posts/token/**
  - src/.vuepress/public/assets/images/token/**
