Repository HUSTAI/HUSTAI.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: llm, prompt, finetune, eval, dataset, token

Update PEFT.md (#131)
  src/zh/posts/finetune/PEFT.md
Labels: finetune

Add files via upload
  src/zh/posts/prompt/RecurrentGPT.md
Labels: prompt

Add files via upload
  src/.vuepress/public/assets/images/prompt/RecurrentGPT1.png
  src/.vuepress/public/assets/images/prompt/RecurrentGPT2.png
  src/.vuepress/public/assets/images/prompt/RecurrentGPT3.png
Labels: prompt

Update RecurrentGPT.md
  src/zh/posts/prompt/RecurrentGPT.md
Labels: prompt

Add files via upload
  src/.vuepress/public/assets/images/llm/Token-Crisis1.png
  src/.vuepress/public/assets/images/llm/Token-Crisis2.png
  src/.vuepress/public/assets/images/llm/Token-Crisis3.png
  src/.vuepress/public/assets/images/llm/Token-Crisis4.png
  src/.vuepress/public/assets/images/llm/Token-Crisis5.png
  src/.vuepress/public/assets/images/llm/Token-Crisis6.png
  src/.vuepress/public/assets/images/llm/Token-Crisis7.png
Labels: llm

Add files via upload
  src/zh/posts/llm/Token-Crisis.md
Labels: llm

update figure caption
  src/zh/posts/llm/ByteTransformer.md
Labels: llm

update figure caption
  src/zh/posts/llm/chatgpt.md
Labels: llm

upload blog
  src/zh/posts/llm/RLoverview.md
Labels: llm

upload blog img
  src/.vuepress/public/assets/images/llm/rloverview1.jpg
  src/.vuepress/public/assets/images/llm/rloverview2.png
  src/.vuepress/public/assets/images/llm/rloverview3.png
  src/.vuepress/public/assets/images/llm/rloverview4.png
Labels: llm

Zlj (#132)
  src/.vuepress/public/assets/images/llm/rloverview1.jpg
  src/.vuepress/public/assets/images/llm/rloverview2.png
  src/.vuepress/public/assets/images/llm/rloverview3.png
  src/.vuepress/public/assets/images/llm/rloverview4.png
  src/zh/posts/llm/ByteTransformer.md
  src/zh/posts/llm/RLoverview.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

update ref
  src/zh/posts/llm/chatgpt.md
Labels: llm

upload blog
  src/.vuepress/public/assets/images/llm/rlvalue1.png
  src/.vuepress/public/assets/images/llm/rlvalue2.png
  src/.vuepress/public/assets/images/llm/rlvalue3.png
  src/.vuepress/public/assets/images/llm/rlvalue4.png
  src/zh/posts/llm/RLvalue.md
Labels: llm

update rlvalue.md (#133)
  src/.vuepress/public/assets/images/llm/rlvalue1.png
  src/.vuepress/public/assets/images/llm/rlvalue2.png
  src/.vuepress/public/assets/images/llm/rlvalue3.png
  src/.vuepress/public/assets/images/llm/rlvalue4.png
  src/zh/posts/llm/RLvalue.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

upload blog
  src/.vuepress/public/assets/images/llm/rlpolicy1.png
  src/.vuepress/public/assets/images/llm/rlpolicy2.png
  src/.vuepress/public/assets/images/llm/rlpolicy3.png
  src/zh/posts/llm/RLpolicy.md
Labels: llm

update rlpolicy.md (#134)
  src/.vuepress/public/assets/images/llm/rlpolicy1.png
  src/.vuepress/public/assets/images/llm/rlpolicy2.png
  src/.vuepress/public/assets/images/llm/rlpolicy3.png
  src/zh/posts/llm/RLpolicy.md
Labels: llm

Add files via upload
  src/.vuepress/public/assets/images/eval/M3KE_1.png
  src/.vuepress/public/assets/images/eval/M3KE_2.png
  src/.vuepress/public/assets/images/eval/M3KE_3.png
  src/.vuepress/public/assets/images/eval/M3KE_4.png
  src/.vuepress/public/assets/images/eval/M3KE_5.png
Labels: eval

Add files via upload
  src/zh/posts/eval/M3KE.md
Labels: eval

Update M3KE.md
  src/zh/posts/eval/M3KE.md
Labels: eval

Update M3KE.md
  src/zh/posts/eval/M3KE.md
Labels: eval

Update M3KE.md
  src/zh/posts/eval/M3KE.md
Labels: eval

Update M3KE.md
  src/zh/posts/eval/M3KE.md
Labels: eval

Add files via upload
  src/.vuepress/public/assets/images/llm/LLM2_1.png
  src/.vuepress/public/assets/images/llm/LLM2_2.png
  src/.vuepress/public/assets/images/llm/LLM2_3.png
  src/.vuepress/public/assets/images/llm/LLM2_4.png
  src/.vuepress/public/assets/images/llm/LLM2_5.png
  src/.vuepress/public/assets/images/llm/LLM2_6.jpg
Labels: llm

Add files via upload
  回路竞争.md
Labels: none

Delete 回路竞争.md
  回路竞争.md
Labels: none

Add files via upload
  src/zh/posts/llm/回路竞争.md
Labels: llm

Update 回路竞争.md
  src/zh/posts/llm/回路竞争.md
Labels: llm

Rename LLM重映世界(一).md to LLMReviveWord1.md
  src/zh/posts/llm/LLMReviveWord1.md
Labels: llm

Update and rename 回路竞争.md to LLMReviveWorld2.md
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm

Update LLMReviveWorld2.md
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm

修改 LLM 2
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm

修改参考LLM2文献格式
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm

Shb (#136)
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm

添加日期
  src/zh/posts/eval/M3KE.md
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm, eval

Shb (#137)
  src/zh/posts/eval/M3KE.md
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm, eval

feat: add mathprompter
  src/.vuepress/public/assets/images/prompt/MathPrompter1.png
  src/.vuepress/public/assets/images/prompt/MathPrompter2.png
  src/.vuepress/public/assets/images/prompt/MathPrompter3.png
  src/zh/posts/llm/PEARL.md
  src/zh/posts/prompt/MathPrompter.md
Labels: llm, prompt

feat: add mathprompter (#138)
  src/.vuepress/public/assets/images/prompt/MathPrompter1.png
  src/.vuepress/public/assets/images/prompt/MathPrompter2.png
  src/.vuepress/public/assets/images/prompt/MathPrompter3.png
  src/zh/posts/llm/PEARL.md
  src/zh/posts/prompt/MathPrompter.md
Labels: llm, prompt

update: move pearl to prompt
  src/.vuepress/public/assets/images/prompt/pearl-1.png
  src/.vuepress/public/assets/images/prompt/pearl-2.png
  src/.vuepress/public/assets/images/prompt/pearl-3.png
  src/.vuepress/public/assets/images/prompt/pearl-4.png
  src/.vuepress/public/assets/images/prompt/pearl-5.png
  src/zh/posts/prompt/PEARL.md
Labels: prompt

update: move pearl to prompt (#139)
  src/.vuepress/public/assets/images/prompt/pearl-1.png
  src/.vuepress/public/assets/images/prompt/pearl-2.png
  src/.vuepress/public/assets/images/prompt/pearl-3.png
  src/.vuepress/public/assets/images/prompt/pearl-4.png
  src/.vuepress/public/assets/images/prompt/pearl-5.png
  src/zh/posts/prompt/PEARL.md
Labels: prompt

Update PEARL.md
  src/zh/posts/prompt/PEARL.md
Labels: prompt

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
llm:
  - src/zh/posts/llm/**
  - src/.vuepress/public/assets/images/llm/**
prompt:
  - src/zh/posts/prompt/**
  - src/.vuepress/public/assets/images/prompt/**
finetune:
  - src/zh/posts/finetune/**
  - src/.vuepress/public/assets/images/finetune/**
eval:
  - src/zh/posts/eval/**
  - src/.vuepress/public/assets/images/eval/**
dataset:
  - src/zh/posts/dataset/**
  - src/.vuepress/public/assets/images/dataset/**
token:
  - src/zh/posts/token/**
  - src/.vuepress/public/assets/images/token/**
