Repository HUSTAI/HUSTAI.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: llm, prompt, finetune, eval, dataset, token

Create sync.yml
  .github/workflows/sync.yml
Labels: none

Create sync.yml (#111)
  .github/workflows/sync.yml
Labels: none

Revert "Create sync.yml (#111)"
  .github/workflows/sync.yml
Labels: none

Revert "Create sync.yml (#111)" (#112)
  .github/workflows/sync.yml
Labels: none

Create sync.yaml
  .github/workflows/sync.yaml
Labels: none

Create sync.yaml (#113)
  .github/workflows/sync.yaml
Labels: none

Update sync.yaml
  .github/workflows/sync.yaml
Labels: none

Update sync.yaml (#114)
  .github/workflows/sync.yaml
Labels: none

Update README.md
  README.md
Labels: none

Update README.md (#115)
  README.md
Labels: none

Update sync.yaml
  .github/workflows/sync.yaml
Labels: none

Update sync.yaml (#116)
  .github/workflows/sync.yaml
Labels: none

Update sync.yaml
  .github/workflows/sync.yaml
Labels: none

Update README.md
  README.md
Labels: none

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

fix: vuepress version match
  package.json
  pnpm-lock.yaml
Labels: none

fix: vuepress version match (#117)
  package.json
  pnpm-lock.yaml
Labels: none

feat: add gitee link
  src/.vuepress/theme.ts
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

feat: add gitee link (#118)
  src/.vuepress/theme.ts
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md (#119)
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

fix: sync in order
  .github/workflows/sync.yaml
Labels: none

fix level
  .github/workflows/sync.yaml
Labels: none

update: ci
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Labels: none

remove: sync.yaml
  .github/workflows/sync.yaml
Labels: none

fix: sync in order (#120)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/sync.yaml
Labels: none

Update deploy.yml
  .github/workflows/deploy.yml
Labels: none

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

Delete CNAME
  CNAME
Labels: none

Create CNAME
  CNAME
Labels: none

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
llm:
  - src/zh/posts/llm/**
  - src/.vuepress/public/assets/images/llm/**
prompt:
  - src/zh/posts/prompt/**
  - src/.vuepress/public/assets/images/prompt/**
finetune:
  - src/zh/posts/finetune/**
  - src/.vuepress/public/assets/images/finetune/**
eval:
  - src/zh/posts/eval/**
  - src/.vuepress/public/assets/images/eval/**
dataset:
  - src/zh/posts/dataset/**
  - src/.vuepress/public/assets/images/dataset/**
token:
  - src/zh/posts/token/**
  - src/.vuepress/public/assets/images/token/**
