Repository HUSTAI/HUSTAI.github.io, changes with the labels that .github/labeler.yml gives for each.
All labels: llm, prompt, finetune, eval, dataset, token

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
llm:
  - src/zh/posts/llm/**
  - src/.vuepress/public/assets/images/llm/**
prompt:
  - src/zh/posts/prompt/**
  - src/.vuepress/public/assets/images/prompt/**
finetune:
  - src/zh/posts/finetune/**
  - src/.vuepress/public/assets/images/finetune/**
eval:
  - src/zh/posts/eval/**
  - src/.vuepress/public/assets/images/eval/**
dataset:
  - src/zh/posts/dataset/**
  - src/.vuepress/public/assets/images/dataset/**
token:
  - src/zh/posts/token/**
  - src/.vuepress/public/assets/images/token/**

Update README.md
  README.md
Labels: none

Update README.md (#168)
  README.md
Labels: none

docs:shb update category and note
  README.md
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/eval/M3KE.md
  src/zh/posts/prompt/CoT.md
  src/zh/posts/prompt/MathPrompter.md
  src/zh/posts/prompt/SoT.md
  src/zh/posts/prompt/ToT.md
  src/zh/posts/rag/README.md
  src/zh/posts/reasoning/CoT.md
  src/zh/posts/reasoning/GoT.md
  src/zh/posts/reasoning/MathPrompter.md
  src/zh/posts/reasoning/SoT.md
  src/zh/posts/reasoning/ToT.md
  src/zh/posts/reasoning/thor.md
  src/zh/posts/token/README.md
Labels: prompt, eval, token

revise
  src/zh/README.md
  src/zh/posts/dataset/M3KE.md
  src/zh/posts/eval/CEval.md
  src/zh/posts/eval/M3KE.md
  src/zh/posts/llm/ByteTransformer.md
  src/zh/posts/llm/GPT.md
  src/zh/posts/prompt/CIMI.md
  src/zh/posts/prompt/CoT.md
  src/zh/posts/prompt/ToT.md
  src/zh/posts/rag/README.md
  src/zh/posts/reasoning/CoT.md
  src/zh/posts/reasoning/GPT4Reason.md
  src/zh/posts/reasoning/GoT.md
  src/zh/posts/reasoning/README.md
  src/zh/posts/reasoning/ToT.md
  src/zh/posts/reasoning/llmReasonSurvey.md
  src/zh/posts/reasoning/thor.md
  src/zh/posts/token/README.md
Labels: llm, prompt, eval, dataset, token

1
  .github/workflows/test_template.json
  .idea/.gitignore
  .idea/HUSTAI.github.io.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Labels: none

update category
  src/zh/posts/README.md
  src/zh/posts/eval/M3KE.md
Labels: eval

add category (#170)
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/dataset/M3KE.md
  src/zh/posts/eval/CEval.md
  src/zh/posts/llm/ByteTransformer.md
  src/zh/posts/llm/GPT.md
  src/zh/posts/prompt/CIMI.md
  src/zh/posts/prompt/CoT.md
  src/zh/posts/prompt/ToT.md
  src/zh/posts/rag/README.md
  src/zh/posts/reasoning/CoT.md
  src/zh/posts/reasoning/GPT4Reason.md
  src/zh/posts/reasoning/GoT.md
  src/zh/posts/reasoning/README.md
  src/zh/posts/reasoning/ToT.md
  src/zh/posts/reasoning/llmReasonSurvey.md
  src/zh/posts/reasoning/thor.md
  src/zh/posts/token/README.md
Labels: llm, prompt, eval, dataset, token

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

update rag icon and KBQASurvey
  src/zh/posts/rag/Chunking-Strategies.md
  src/zh/posts/rag/KBQASurvey.md
  src/zh/posts/rag/LLMretrieval.md
  src/zh/posts/rag/LSR.md
  src/zh/posts/rag/README.md
  src/zh/posts/rag/RetrieveTextGeneration.md
Labels: none

update KBQASurvey image
  src/.vuepress/public/assets/images/rag/kbqa_survey1.png
  src/.vuepress/public/assets/images/rag/kbqa_survey2.png
  src/.vuepress/public/assets/images/rag/kbqa_survey3.png
  src/.vuepress/public/assets/images/rag/kbqa_survey4.png
  src/.vuepress/public/assets/images/rag/kbqa_survey5.png
  src/zh/posts/rag/KBQASurvey.md
Labels: none

update rag icon and KBQASurvey (#171)
  src/.vuepress/public/assets/images/rag/kbqa_survey1.png
  src/.vuepress/public/assets/images/rag/kbqa_survey2.png
  src/.vuepress/public/assets/images/rag/kbqa_survey3.png
  src/.vuepress/public/assets/images/rag/kbqa_survey4.png
  src/.vuepress/public/assets/images/rag/kbqa_survey5.png
  src/zh/posts/rag/Chunking-Strategies.md
  src/zh/posts/rag/KBQASurvey.md
  src/zh/posts/rag/LLMretrieval.md
  src/zh/posts/rag/LSR.md
  src/zh/posts/rag/README.md
  src/zh/posts/rag/RetrieveTextGeneration.md
Labels: none

update information_retrieve
  src/.vuepress/public/assets/images/rag/information_retrieve.png
  src/zh/posts/rag/information_retrieve.md
Labels: none

Unified icon
  src/zh/posts/dataset/M3KE.md
  src/zh/posts/finetune/QLORA.md
  src/zh/posts/reasoning/GPT4Reason.md
  src/zh/posts/token/Token-Crisis.md
Labels: finetune, dataset, token

update information_retrieve
  src/zh/posts/rag/information_retrieve.md
Labels: none

update repo to gitee
  src/.vuepress/theme.ts
Labels: none

update repo to gitee (#172)
  src/.vuepress/theme.ts
Labels: none

add xot
  src/.vuepress/public/assets/images/reasoning/xot1.png
  src/.vuepress/public/assets/images/reasoning/xot2.png
  src/.vuepress/public/assets/images/reasoning/xot3.png
  src/zh/posts/reasoning/XoT.md
Labels: none

add xot (#173)
  src/.vuepress/public/assets/images/reasoning/xot1.png
  src/.vuepress/public/assets/images/reasoning/xot2.png
  src/.vuepress/public/assets/images/reasoning/xot3.png
  src/zh/posts/reasoning/XoT.md
Labels: none

Delete CNAME
  CNAME
Labels: none

add slora
  src/.vuepress/public/assets/images/finetune/SLORA_1.png
  src/.vuepress/public/assets/images/finetune/SLORA_2.png
  src/.vuepress/public/assets/images/finetune/SLORA_3.png
  src/.vuepress/public/assets/images/finetune/SLORA_4.png
  src/.vuepress/public/assets/images/finetune/SLORA_5.png
  src/.vuepress/public/assets/images/finetune/SLORA_6.png
  src/.vuepress/public/assets/images/finetune/SLORA_7.png
  src/zh/posts/dataset/information_retrieve.md
  src/zh/posts/finetune/SLORA.md
Labels: finetune, dataset

add slora (#174)
  src/.vuepress/public/assets/images/finetune/SLORA_1.png
  src/.vuepress/public/assets/images/finetune/SLORA_2.png
  src/.vuepress/public/assets/images/finetune/SLORA_3.png
  src/.vuepress/public/assets/images/finetune/SLORA_4.png
  src/.vuepress/public/assets/images/finetune/SLORA_5.png
  src/.vuepress/public/assets/images/finetune/SLORA_6.png
  src/.vuepress/public/assets/images/finetune/SLORA_7.png
  src/zh/posts/dataset/information_retrieve.md
  src/zh/posts/finetune/SLORA.md
Labels: finetune, dataset

docs: update reasoning lats
  src/.vuepress/public/assets/images/reasoning/lats1.png
  src/.vuepress/public/assets/images/reasoning/lats2.jpg
  src/.vuepress/public/assets/images/reasoning/lats3.jpg
  src/.vuepress/public/assets/images/reasoning/lats4.jpg
  src/.vuepress/public/assets/images/reasoning/lats5.jpg
  src/zh/posts/reasoning/LATS.md
Labels: none

docs: update reasoning lats (#175)
  src/.vuepress/public/assets/images/reasoning/lats1.png
  src/.vuepress/public/assets/images/reasoning/lats2.jpg
  src/.vuepress/public/assets/images/reasoning/lats3.jpg
  src/.vuepress/public/assets/images/reasoning/lats4.jpg
  src/.vuepress/public/assets/images/reasoning/lats5.jpg
  src/zh/posts/reasoning/LATS.md
Labels: none

update: lats
  src/zh/posts/reasoning/LATS.md
Labels: none

update: lats (#176)
  src/zh/posts/reasoning/LATS.md
Labels: none

add powerinfer
  src/.vuepress/public/assets/images/llm/powerinfer_1.png
  src/.vuepress/public/assets/images/llm/powerinfer_2.png
  src/.vuepress/public/assets/images/llm/powerinfer_3.png
  src/.vuepress/public/assets/images/llm/powerinfer_4.png
  src/.vuepress/public/assets/images/llm/powerinfer_5.png
  src/.vuepress/public/assets/images/llm/powerinfer_6.png
  src/.vuepress/public/assets/images/llm/powerinfer_7.png
  src/zh/posts/llm/powerinfer.md
Labels: llm

Self-RAG
  src/.vuepress/public/assets/images/rag/self_rag_1.png
  src/.vuepress/public/assets/images/rag/self_rag_2.png
  src/.vuepress/public/assets/images/rag/self_rag_3.png
  src/.vuepress/public/assets/images/rag/self_rag_4.png
  src/zh/posts/rag/Self-RAG.md
Labels: none

Self-RAG
  src/zh/posts/rag/Self-RAG.md
Labels: none

doc:upload rag_survey
  src/.vuepress/public/assets/images/rag/rag_survey1.png
  src/.vuepress/public/assets/images/rag/rag_survey2.png
  src/.vuepress/public/assets/images/rag/rag_survey3.png
  src/.vuepress/public/assets/images/rag/rag_survey4.png
  src/.vuepress/public/assets/images/rag/rag_survey5.png
  src/.vuepress/public/assets/images/rag/rag_survey6.png
  src/.vuepress/public/assets/images/rag/rag_survey7.png
  src/zh/posts/rag/RAG_survey.md
Labels: none

doc:upload rag survey
  src/.vuepress/public/assets/images/rag/rag_survey1.png
  src/.vuepress/public/assets/images/rag/rag_survey2.png
  src/.vuepress/public/assets/images/rag/rag_survey3.png
  src/.vuepress/public/assets/images/rag/rag_survey4.png
  src/.vuepress/public/assets/images/rag/rag_survey5.png
  src/.vuepress/public/assets/images/rag/rag_survey6.png
  src/.vuepress/public/assets/images/rag/rag_survey7.png
  src/zh/posts/rag/RAG_survey.md
Labels: none

Revert "update"
  README.md
  src/zh/posts/README.md
  src/zh/posts/eval/M3KE.md
  src/zh/posts/prompt/MathPrompter.md
  src/zh/posts/prompt/SoT.md
  src/zh/posts/reasoning/MathPrompter.md
  src/zh/posts/reasoning/SoT.md
Labels: prompt, eval

add hnsw
  src/.vuepress/public/assets/images/rag/hnsw_1.webp
  src/.vuepress/public/assets/images/rag/hnsw_2.webp
  src/.vuepress/public/assets/images/rag/hnsw_3.webp
  src/.vuepress/public/assets/images/rag/hnsw_4.webp
  src/.vuepress/public/assets/images/rag/hnsw_5.webp
  src/zh/posts/rag/HNSW.md
Labels: none

add annoy update hnsw
  src/.vuepress/public/assets/images/rag/annoy_1.webp
  src/.vuepress/public/assets/images/rag/annoy_10.webp
  src/.vuepress/public/assets/images/rag/annoy_11.webp
  src/.vuepress/public/assets/images/rag/annoy_12.webp
  src/.vuepress/public/assets/images/rag/annoy_2.webp
  src/.vuepress/public/assets/images/rag/annoy_3.webp
  src/.vuepress/public/assets/images/rag/annoy_4.webp
  src/.vuepress/public/assets/images/rag/annoy_5.webp
  src/.vuepress/public/assets/images/rag/annoy_6.webp
  src/.vuepress/public/assets/images/rag/annoy_7.webp
  src/.vuepress/public/assets/images/rag/annoy_8.webp
  src/.vuepress/public/assets/images/rag/annoy_9.webp
  src/zh/posts/rag/Annoy.md
  src/zh/posts/rag/HNSW.md
Labels: none
