Repository HUSTAI/HUSTAI.github.io, pull requests merged in 2023-06, with the labels that each got.

#79 Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

#84 add chatgpt.md
  src/.vuepress/public/assets/images/llm/chatgpt1.png
  src/.vuepress/public/assets/images/llm/chatgpt2.png
  src/.vuepress/public/assets/images/llm/chatgpt3.png
  src/.vuepress/public/assets/images/llm/chatgpt4.png
  src/zh/posts/llm/chatgpt.md
Labels: llm

#85 Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

#86 Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

#88 Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

#87 Add files via upload
  src/.vuepress/public/assets/images/llm/ntp_image2.png
Labels: llm

#89 update: PEFT.md
  src/.vuepress/public/assets/images/finetune/PEFT_01.png
  src/.vuepress/public/assets/images/finetune/PEFT_02.png
  src/.vuepress/public/assets/images/finetune/PEFT_03.png
  src/.vuepress/public/assets/images/finetune/PEFT_04.png
  src/.vuepress/public/assets/images/finetune/PEFT_06.png
  src/.vuepress/public/assets/images/finetune/PEFT_08.png
  src/.vuepress/public/assets/images/finetune/PEFT_12.png
  src/zh/posts/finetune/PEFT.md
Labels: finetune

#91 Update PEARL.md
  src/zh/posts/llm/PEARL.md
Labels: llm

#93 Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

#94 Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

#96 Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

#97 refactor short title
  src/zh/posts/finetune/PEFT.md
  src/zh/posts/llm/GPT.md
  src/zh/posts/llm/PEARL.md
  src/zh/posts/llm/Unlimiformer.md
Labels: llm, finetune

#98 Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

#99 Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

#100 Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

#101 Update LLM重映世界(一).md
  src/zh/posts/llm/LLM重映世界(一).md
Labels: llm

#102 change tag
  src/zh/posts/llm/ByteTransformer.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

#103 Update PEARL.md
  src/zh/posts/llm/PEARL.md
Labels: llm

#104 update chatgpt.md
  README.md
  src/zh/README.md
  src/zh/posts/README.md
  src/zh/posts/llm/chatgpt.md
  src/zh/posts/token/README.md
Labels: llm, token

#105 update ref
  src/zh/posts/llm/chatgpt.md
Labels: llm

#107 update: ref in pearl
  src/zh/posts/llm/PEARL.md
Labels: llm

#109 update ref
  src/zh/posts/llm/chatgpt.md
Labels: llm
