Repository HUSTAI/HUSTAI.github.io, pull requests merged in 2023-07, with the labels that each got.

#119 Update Instruct和Prompt Tuning数据汇总分享.md
  src/zh/posts/dataset/Instruct和Prompt Tuning数据汇总分享.md
Labels: dataset

#126 feat: add cot
  src/.vuepress/public/assets/images/prompt/.gitkeep
  src/.vuepress/public/assets/images/prompt/cot1.png
  src/.vuepress/public/assets/images/prompt/cot2.png
  src/.vuepress/public/assets/images/prompt/cot3.png
  src/.vuepress/public/assets/images/prompt/cot4.png
  src/.vuepress/public/assets/images/prompt/cot5.png
  src/.vuepress/public/assets/images/prompt/cot6.png
  src/.vuepress/public/assets/images/prompt/cot7.png
  src/zh/posts/prompt/Cot.md
Labels: prompt

#128 add bpe.md
  src/.vuepress/public/assets/images/token/bpe_1.png
  src/zh/posts/token/bpe.md
Labels: token

#129 Add files via upload
  src/zh/posts/llm/decoder_encoder.md
Labels: llm

#131 Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

#132 Zlj
  src/.vuepress/public/assets/images/llm/rloverview1.jpg
  src/.vuepress/public/assets/images/llm/rloverview2.png
  src/.vuepress/public/assets/images/llm/rloverview3.png
  src/.vuepress/public/assets/images/llm/rloverview4.png
  src/zh/posts/llm/ByteTransformer.md
  src/zh/posts/llm/RLoverview.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

#133 update rlvalue.md
  src/.vuepress/public/assets/images/llm/rlvalue1.png
  src/.vuepress/public/assets/images/llm/rlvalue2.png
  src/.vuepress/public/assets/images/llm/rlvalue3.png
  src/.vuepress/public/assets/images/llm/rlvalue4.png
  src/zh/posts/llm/RLvalue.md
  src/zh/posts/llm/chatgpt.md
Labels: llm

#136 Shb
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm

#137 Shb
  src/zh/posts/eval/M3KE.md
  src/zh/posts/llm/LLMReviveWorld2.md
Labels: llm, eval

#138 feat: add mathprompter
  src/.vuepress/public/assets/images/prompt/MathPrompter1.png
  src/.vuepress/public/assets/images/prompt/MathPrompter2.png
  src/.vuepress/public/assets/images/prompt/MathPrompter3.png
  src/zh/posts/llm/PEARL.md
  src/zh/posts/prompt/MathPrompter.md
Labels: llm, prompt

#139 update: move pearl to prompt
  src/.vuepress/public/assets/images/prompt/pearl-1.png
  src/.vuepress/public/assets/images/prompt/pearl-2.png
  src/.vuepress/public/assets/images/prompt/pearl-3.png
  src/.vuepress/public/assets/images/prompt/pearl-4.png
  src/.vuepress/public/assets/images/prompt/pearl-5.png
  src/zh/posts/prompt/PEARL.md
Labels: prompt

#141 feat: add tot in prompt
  src/.vuepress/public/assets/images/prompt/ToT1.png
  src/.vuepress/public/assets/images/prompt/ToT2.png
  src/.vuepress/public/assets/images/prompt/ToT3.png
  src/.vuepress/public/assets/images/prompt/ToT4.png
  src/zh/posts/prompt/MathPrompter.md
  src/zh/posts/prompt/ToT.md
Labels: prompt

#142 feat: add prompt ps
  src/.vuepress/public/assets/images/prompt/PS1.png
  src/.vuepress/public/assets/images/prompt/PS2.png
  src/.vuepress/public/assets/images/prompt/PS3.png
  src/.vuepress/public/assets/images/prompt/PS4.png
  src/.vuepress/public/assets/images/prompt/PS5.png
  src/zh/posts/eval/CEval.md
  src/zh/posts/llm/ChatGLM2.md
  src/zh/posts/llm/ChatGPT.md
  src/zh/posts/llm/Decoder_Encoder.md
  src/zh/posts/llm/GPT2.md
  src/zh/posts/llm/PPO.md
  src/zh/posts/llm/RLpolicy.md
  src/zh/posts/prompt/CoT.md
  src/zh/posts/prompt/MathPrompter.md
  src/zh/posts/prompt/PEARL.md
  src/zh/posts/prompt/PS.md
  src/zh/posts/prompt/ToT.md
  src/zh/posts/token/BPE.md
Labels: llm, prompt, eval, token

#143 Add: PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

#144 Update PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

#145 Add files via upload
  src/.vuepress/public/assets/images/prompt/PromptEngineeringGuide_01.png
Labels: prompt

#146 Update PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

#148 add article
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey1.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey2.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey3.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey4.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey5.png
  src/.vuepress/public/assets/images/prompt/llmreasonsurvey6.png
  src/zh/posts/prompt/llmReasonSurvey.md
Labels: prompt
