Repository HUSTAI/HUSTAI.github.io, pull requests merged in 2023-08, with the labels that each got.

#149 Update ByteTransformer.md
  src/zh/posts/llm/ByteTransformer.md
Labels: llm

#150 Update CoT.md
  src/zh/posts/prompt/CoT.md
Labels: prompt

#151 Update llmReasonSurvey.md
  src/zh/posts/prompt/llmReasonSurvey.md
Labels: prompt

#154 add gpt4reason.md
  src/.vuepress/public/assets/images/llm/gpt4reason1.png
  src/.vuepress/public/assets/images/llm/gpt4reason10.png
  src/.vuepress/public/assets/images/llm/gpt4reason11.png
  src/.vuepress/public/assets/images/llm/gpt4reason12.png
  src/.vuepress/public/assets/images/llm/gpt4reason13.png
  src/.vuepress/public/assets/images/llm/gpt4reason14.png
  src/.vuepress/public/assets/images/llm/gpt4reason2.png
  src/.vuepress/public/assets/images/llm/gpt4reason3.png
  src/.vuepress/public/assets/images/llm/gpt4reason4.png
  src/.vuepress/public/assets/images/llm/gpt4reason5.png
  src/.vuepress/public/assets/images/llm/gpt4reason6.png
  src/.vuepress/public/assets/images/llm/gpt4reason7.png
  src/.vuepress/public/assets/images/llm/gpt4reason8.png
  src/.vuepress/public/assets/images/llm/gpt4reason9.png
  src/zh/posts/llm/GPT4Reason.md
Labels: llm

#155 Update PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

#156 Update PromptEngineeringGuide.md
  src/zh/posts/prompt/PromptEngineeringGuide.md
Labels: prompt

#157 Update pictures for PEFT.md
  src/.vuepress/public/assets/images/finetune/PEFT_02.png
  src/.vuepress/public/assets/images/finetune/PEFT_03.png
  src/.vuepress/public/assets/images/finetune/PEFT_04.png
  src/.vuepress/public/assets/images/finetune/PEFT_05.png
  src/.vuepress/public/assets/images/finetune/PEFT_06.png
  src/.vuepress/public/assets/images/finetune/PEFT_07.webp
  src/.vuepress/public/assets/images/finetune/PEFT_08.png
  src/.vuepress/public/assets/images/finetune/PEFT_09.webp
Labels: finetune

#158 Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

#159 Update PEFT.md
  src/zh/posts/finetune/PEFT.md
Labels: finetune

#162 update got
  src/.vuepress/public/assets/images/prompt/GoT1.png
  src/.vuepress/public/assets/images/prompt/GoT2.png
  src/.vuepress/public/assets/images/prompt/GoT3.png
  src/.vuepress/public/assets/images/prompt/GoT4.png
  src/.vuepress/public/assets/images/prompt/GoT5.png
  src/.vuepress/public/assets/images/prompt/GoT6.png
  src/.vuepress/public/assets/images/prompt/GoT7.png
  src/zh/posts/prompt/GoT.md
Labels: prompt
